<!DOCTYPE html>
<html>
<head>
    <title>系統分析期末</title>
</head>
<body>
    <h1>請選擇想玩的遊戲</h1>
    <h2>wordle：</h2>
    <img src="{{ url_for('static',filename='image/wordle.jpg') }}" alt="wordle拼字遊戲">
    <a href="https://www.nytimes.com/games/wordle/index.html">開始遊戲</a>
</body>
</head>
<body>    
    <h2>minesweeper：</h2>
    <img src="" alt="minesweeper踩地雷">
    <a href="https://minesweeper.online/tw/game/2310638660">開始遊戲</a>
</body>
</head>
<body>    
    <h2>Tic Tac Toe：</h2>
    <img src="" alt="Tic Tac Toe圈圈叉叉">
    <a href="https://tictactoe.gamelet.online/">開始遊戲</a>
</body>
</head>
<body>    
    <h2>Gartic Phone：</h2>
    <img src="" alt="Gartic Phone傳話遊戲">
    <a href="https://gartic.io/3913Da">開始遊戲</a>
</body>
</head>
<body>    
    <h2>：</h2>
    <img src="" alt="">
    <a href="">開始遊戲</a>
</body>
</html>